html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: url("../images/bright_squares.png");
  background-repeat: repeat;
  height: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body .ng-scope {
    height: 100%; }

.head-nav {
  margin-bottom: 2rem;
  border-bottom: solid 9px brown;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  position: fixed;
  top: 0;
  z-index: 25; }
  .head-nav:last-child {
    margin-right: 0; }

.links {
  position: absolute;
  right: 1em;
  top: 1em; }

.login-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-top: 7rem; }
  .login-wrap:last-child {
    margin-right: 0; }
  .login-wrap .login-headers {
    border-bottom: solid 9px brown; }

.registration-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto; }
  .registration-form label {
    text-align: left; }

.reg-head {
  cursor: pointer;
  outline: none; }

.reg-input {
  width: 20rem; }

.regname-input {
  width: 15rem; }

.reg-submit {
  width: 30%; }

.reg-card {
  display: none; }

.login-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto; }
  .login-form label {
    text-align: left; }

.login-head {
  cursor: pointer;
  outline: none; }

.login-input {
  width: 20rem; }

.login-submit {
  width: 84.1%; }

.profile-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background-color: white;
  margin-top: 7rem; }
  .profile-wrap:last-child {
    margin-right: 0; }

.profile-headers {
  border-bottom: solid 9px brown; }

.prof-content {
  padding: 1.5rem;
  margin: 0 auto; }
  .prof-content .prof-input {
    width: 100%;
    text-align: right;
    margin: 0 auto; }
  .prof-content .prof-submit {
    text-align: center;
    margin-left: 39.2%; }
  .prof-content .edit-profile {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem; }
  .prof-content .edit-profile:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .delete-profile {
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem; }
  .prof-content .delete-profile:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .edit-password {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1.2rem; }
  .prof-content .edit-password:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .avatar-wrap {
    margin-left: 45.5%; }
    .prof-content .avatar-wrap .avatar-img {
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      border: solid 2px grey;
      padding: 1px;
      overflow: hidden; }

.user-classrooms-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background-color: white; }
  .user-classrooms-wrap:last-child {
    margin-right: 0; }
  .user-classrooms-wrap .user-classroom-list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .user-classrooms-wrap .user-classroom-list:last-child {
      margin-right: 0; }
    .user-classrooms-wrap .user-classroom-list md-list-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 337px; }
      .user-classrooms-wrap .user-classroom-list md-list-item:last-child {
        margin-right: 0; }
      .user-classrooms-wrap .user-classroom-list md-list-item:nth-child(3n) {
        margin-right: 0; }
      .user-classrooms-wrap .user-classroom-list md-list-item:nth-child(3n+1) {
        clear: left; }
      .user-classrooms-wrap .user-classroom-list md-list-item h4 {
        font-size: 14px; }
      .user-classrooms-wrap .user-classroom-list md-list-item p {
        font-size: 12px; }

.requests-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background-color: white; }
  .requests-wrap:last-child {
    margin-right: 0; }

md-fab-toolbar.md-fab-toolbar-wrapper {
  height: 4rem; }

.prof-fab-wrap {
  background-color: white; }

.delete-sheet {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .delete-sheet:last-child {
    margin-right: 0; }

.create-class-head {
  border-bottom: solid 9px brown; }

.create-class-form {
  margin: 0 auto;
  margin-top: 2.5rem; }

.class-input-block p {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 1rem;
  color: #B1B1B1;
  font-size: smaller; }

.class-create-submit {
  width: 30%;
  margin-left: 35.5%; }

.classroom-table-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background-color: white;
  margin-top: 7rem; }
  .classroom-table-wrap:last-child {
    margin-right: 0; }
  .classroom-table-wrap .classroom-table-head {
    border-bottom: solid 9px brown; }
  .classroom-table-wrap .class-table-row-wrap {
    text-decoration: none;
    color: inherit; }
  .classroom-table-wrap .class-table-row {
    height: 75px; }
  .classroom-table-wrap .class-table-row:hover {
    background-color: lightblue; }

.switch-options {
  color: inherit; }

.md-table-headers-row {
  width: 20%;
  display: inline-block;
  overflow-x: hidden; }

.md-table-header {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 7rem 16px 5rem; }

.md-table-header a {
  text-decoration: none;
  color: inherit; }

.md-table-header a:hover {
  text-decoration: underline; }

.table-cell {
  text-align: center;
  display: inline-block;
  height: 74.240px; }
  .table-cell .table-text {
    display: inline-block;
    height: 100%;
    width: 9rem;
    text-align: center; }

.table-avatar {
  width: 50px;
  height: 50px;
  margin: 6px 4em 4px 4.64em; }

.class-info-list-wrap {
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 7rem;
  margin-bottom: 2.5rem; }

.exercise-table-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .exercise-table-wrap:last-child {
    margin-right: 0; }
  .exercise-table-wrap .exercises-head {
    border-bottom: solid 9px brown; }
  .exercise-table-wrap form {
    margin-left: 5%;
    margin-bottom: 2rem; }

.join-requests-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background-color: white;
  margin-top: 7rem; }
  .join-requests-wrap:last-child {
    margin-right: 0; }
  .join-requests-wrap .join-requests-head {
    border-bottom: solid 9px brown; }
  .join-requests-wrap .join-request-info b {
    width: 13%;
    display: inline-block; }
  .join-requests-wrap .join-request-info .bb {
    border-right: solid 1px #B1B1B1; }
  .join-requests-wrap .join-request-info .bbb {
    margin-left: 1rem; }
  .join-requests-wrap .join-request-info .b-email {
    padding-right: 8rem; }
  .join-requests-wrap .join-request-info p {
    width: 13%;
    margin-right: 7%;
    text-align: center; }
  .join-requests-wrap .request-res-button {
    font-size: 10px; }
