html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body .ng-scope {
    height: 100%; }

.head-nav {
  margin-bottom: 2rem;
  border-bottom: solid 9px brown; }

.links {
  position: absolute;
  right: 1em;
  top: 1em; }

.login-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .login-wrap:last-child {
    margin-right: 0; }
  .login-wrap .login-headers {
    border-bottom: solid 9px brown; }

.registration-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto; }
  .registration-form label {
    text-align: left; }

.reg-head {
  cursor: pointer;
  outline: none; }

.reg-input {
  width: 20rem; }

.regname-input {
  width: 15rem; }

.reg-submit {
  width: 30%; }

.reg-card {
  display: none; }

.login-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto; }
  .login-form label {
    text-align: left; }

.login-head {
  cursor: pointer;
  outline: none; }

.login-input {
  width: 20rem; }

.login-submit {
  width: 84.1%; }

.profile-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .profile-wrap:last-child {
    margin-right: 0; }
  .profile-wrap .profile-headers {
    border-bottom: solid 9px brown; }

.prof-content {
  padding: 1.5rem;
  margin: 0 auto; }
  .prof-content .prof-input {
    width: 100%;
    text-align: right;
    margin: 0 auto; }
  .prof-content .prof-submit {
    text-align: center;
    margin-left: 41.5%; }
  .prof-content .edit-profile {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem; }
  .prof-content .edit-profile:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .delete-profile {
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem; }
  .prof-content .delete-profile:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .edit-password {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1.2rem; }
  .prof-content .edit-password:hover {
    text-decoration: underline;
    cursor: pointer; }
  .prof-content .avatar-wrap {
    margin-left: 46.5%; }
    .prof-content .avatar-wrap .avatar-img {
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      border: solid 2px grey;
      padding: 1px;
      overflow: hidden; }

md-fab-toolbar.md-fab-toolbar-wrapper {
  height: 4rem; }

.delete-sheet {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .delete-sheet:last-child {
    margin-right: 0; }

.classroom-table-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .classroom-table-wrap:last-child {
    margin-right: 0; }
  .classroom-table-wrap .classroom-table-head {
    border-bottom: solid 9px brown; }
  .classroom-table-wrap .class-table-row-wrap {
    text-decoration: none;
    color: inherit; }
  .classroom-table-wrap .class-table-row {
    height: 75px; }
  .classroom-table-wrap .class-table-row:hover {
    background-color: lightblue; }

.switch-options {
  color: inherit; }

.md-table-headers-row {
  width: 20%;
  display: inline-block;
  overflow-x: hidden; }

.md-table-header {
  border-bottom: 1px solid #e6e6e6;
  color: #828282;
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 7rem 16px 5rem; }

.md-table-header a {
  text-decoration: none;
  color: inherit; }

.md-table-header a:hover {
  text-decoration: underline; }

.table-cell {
  text-align: center;
  display: inline-block;
  width: 19.2%; }

.table-avatar {
  width: 50px;
  height: 50px;
  margin: 4px 1em 4px 4.64em; }

.table-text {
  line-height: 2em; }
