<div layout="column" layout-align="center center" class="md-whiteframe-z2 classroom-table-wrap" style="margin-bottom: 8rem;">

<md-toolbar>
  <div class="md-toolbar-tools classroom-table-head" id="classroom-table-head">
    <h2>Current Classrooms</h2>
  <div class="class-switch-wrap">

    <md-switch id = "classroom-search-switch" ng-model="searchByParam.val1" class="switch-row" ng-click="setSearchParam()">
    Sort By {{ classSearchParam }}
    </md-switch>

</div>
  </div>
</md-toolbar>

<table class="md-table">
  <thead>
    <tr class = "md-table-headers-row" ng-repeat="h in headers">
      <th class = "md-table-header"><a href="#">{{h.name}}</a></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a ng-repeat="x in classroomTable" href="#/classrooms/{{x.id}}" class="class-table-row-wrap">
          <div class = "class-table-row">
            <div class="table-cell">
              <img src="{{ x.avatar }}" class="table-avatar">
            </div>
            <div class="table-cell table-text">{{ x.name }}</div>
            <div class="table-cell table-text">{{ x.description }}</div>
            <div class="table-cell table-text">{{ x.language }}</div>
            <div class="table-cell table-text">{{ x.num_participants }}</div>
          </div>
        </a>
      </td>
    </tr>
  </tbody>

</table>

<!-- <a href="#" ng-click="getExercise()">create exercise</a> -->

</div>


