<div layout="column" layout-align="center center" class="md-whiteframe-z2 classroom-table-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools create-class-head" id="create-class-head">
      <h2>Class {{singleClassroomData.name}}</h2>
    </div>
  </md-toolbar>

  <div class="class-info-list-wrap">
    <md-list>
      <md-list-item><img src="{{singleClassroomData.avatar}}"></md-list-item>
      <md-list-item>Classroom ID: {{singleClassroomData.id}}</md-list-item>
      <md-list-item>Classroom Name: {{singleClassroomData.name}}</md-list-item>
      <md-list-item>Info: {{singleClassroomData.description}}</md-list-item>
      <md-list-item>Language: {{singleClassroomData.language}}</md-list-item>
      <md-list-item>Students: {{singleClassroomData.num_students}}</md-list-item>
      <md-list-item ng-repeat="x in students">{{ x.username }}</md-list-item>
      <md-list-item ng-repeat="y in teachers">Instructor(s): {{ y.username }}</md-list-item>

      <md-button class="md-accent md-hue-3 md-raised join-class-button" ng-click="goToJoinPage()">Request to Join</md-button>

      <md-button class= "md-accent md-hue-3 md-raised get-requests-button" id="view-requests-button" ng-if="true" ng-click="goToRequestsPage()">View Join Requests</md-button>

    </md-list>

  </div>



</div>

<div layout="column" layout-align="center center" class="md-whiteframe-z2 exercise-form-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools create-class-head" id="exercises-head">
      <h2> Start New Exercises </h2>
    </div>

    <md-content layout-padding>

      <form ng-submit="newExercise(data, singleClassroomData.id)">

        <h6>Open new exercise:</h6>

        <md-input-container>
          <label>Exercise Title</label>
          <input type="text" ng-model="data.name">
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <input type="text" ng-model="data.description">
        </md-input-container>

        <md-button class="md-accent md-hue-3 md-raised create-exercise-submit">Submit Exercise</md-button>

      </form>

    </md-content>
  </md-toolbar>

</div>

<div layout="column" layout-align="center center" class="md-whiteframe-z2 classroom-exercise-list-wrap" style="margin-bottom: 8rem;">

  <md-toolbar>
    <div class="md-toolbar-tools create-class-head" id="exercise-list-head">
      <h2>Exercises for {{singleClassroomData.name}} class</h2>
    </div>
  </md-toolbar>

  <md-list>
    <md-list-item ng-repeat="x in thisClassroomExercises">
      <h6>Exercise: {{x.name}}</h6>
      <p ng-if"x.description" style="font-size: 10px;margin-left: 0.9rem;"> Description: {{x.description}}</p>

      <p class = "exercise-nav">Run Exercise</p>
      <p class = "exercise-nav" ng-click="goToExerciseEditPage(x.id)">Edit Exercise</p>
      <p class = "exercise-nav" style="color: red">Delete Exercise</p>


    </md-list-item>
  </md-list>
</div>
