<!DOCTYPE html>
<html>
<head>
  <title>Project Name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" href="css/vendor/angular-material.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="Unoverb">


  <div class="container">

<!-- NAV SECTION  -->
    <md-toolbar class="head-nav">
      <div class="md-toolbar-tools">
        <h3><span><a href="/">UNOVBRNRBR</a></span></h3>
        <div class="links" ng-controller="User">
          <a href="/#/login">Login</a> &bull;
          <a href="/#/profile" ng-click="getProfile()" style="outline:none;">Profile</a> &bull; <!--  need to add :id to url -->
          <a href="/#/createclassroom">Create Classroom</a> &bull;
          <a href="/#/classrooms">Classrooms</a> &bull;
          <a href="/#/dashboard">Dash</a> &bull;
          <a href="/#/logout" ng-click="logout()">Logout</a>
        </div>
      </div>
    </md-toolbar>
<!--  -->


    <div ui-view class="md-primary"></div>
<!--    <md-content ui-view layout-padding>

        </md-content> -->
    </div>


  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-ui-router.js"></script>
  <script src="js/vendor/angular-cookies.js"></script>
  <script src="js/vendor/angular-animate.js"></script>
  <script src="js/vendor/angular-aria.js"></script>
  <script src="js/vendor/angular-material.js"></script>

  <!-- MAIN -->
  <script src="js/main.js"></script>
  <!-- // <script src="js/main.router.js"></script> -->
  <script src="js/users/user.service.js"></script>
  <script src="js/classrooms/classroom.service.js"></script>
  <script src="js/exercises/exercise.service.js"></script>
  <script src="js/users/user.controller.js"></script>
  <script src="js/users/profiles/profile.controller.js"></script>
  <script src="js/users/profiles/profile.fab.controller.js"></script>
  <script src="js/classrooms/classroom.controller.js"></script>
  <script src="js/classrooms/classroom.single.controller.js"></script>
  <script src="js/classrooms/classroom.table.controller.js"></script>
  <script src="js/exercises/exercise.controller.js"></script>
  <script src="js/classrooms/classroom.table.directive.js"></script>
  <!-- // <script src="js/verbs/verb.service.js"></script> -->
  <!-- // <script src="js/verbs/verb.controller.js"></script> -->
  <!-- // <script src="js/verbs/verb.directive.js"></script> -->

</body>
</html>
