<md-bottom-sheet class="md-padding md-has-header delete-sheet">
  <md-subheader>Change Password</md-subheader>

  <md-content ng-controller="Profile">
    <p> You are currently logged in as {{ currentUser.$$state.value.username }}.  Enter your old password to verify, then the new.</p>

    <form ng-submit="modifyPassword(user)">

      <md-input-container>
        <label>Old Password</label><input type="password" ng-model="user.password">
      </md-input-container>

      <md-input-container>
        <label>New Password</label><input type="password" ng-model="user.new_password">
      </md-input-container>

      <md-button class="md-accent md-hue-2 md-raised">CHANGE PASSWORD</md-button>
    </form>
  </md-content>

</md-bottom-sheet>
