<div layout="column" layout-align="center center" class="md-whiteframe-z2 profile-wrap" style="margin-bottom: 8rem;">

  <md-toolbar>
    <div class="md-toolbar-tools profile-head profile-headers" id="profile-head">
      <h2> {{ currentUser.$$state.value.username }}'s Profile</h2>
    </div>
  </md-toolbar>

  <md-content class ="prof-content">

    <form ng-submit="updateProfile(user)">

      <!-- <img src="{{ currentUser.$$state.value.avatar }}"> -->


      <md-input-container>
        <label>Username (fixed)</label><input placeholder="{{ currentUser.$$state.value.username }}" type = "text" class="prof-input" disabled ng-model="user.username">
      </md-input-container>

      <md-input-container>
        <label>First Name</label><input placeholder="{{ currentUser.$$state.value.first_name }}" type = "text" class="prof-input" id="prof-firstname"disabled ng-model="user.first_name">
      </md-input-container>

      <md-input-container>
        <label>Last Name</label><input placeholder="{{ currentUser.$$state.value.last_name }}" type="text" class="prof-input" id="prof-lastname"disabled ng-model="user.last_name">
      </md-input-container>

      <md-input-container>
        <label>Email</label><input placeholder="{{ currentUser.$$state.value.email }}" type = "text" class="prof-input" id="prof-email"disabled ng-model="user.email">
      </md-input-container>


      <md-input-container>
        <label>User Image</label><input placeholder="{{ 'avatarURL' }}" type = "text" name="userAvatar" class="prof-input" id="prof-avatar"disabled ng-model="user.avatar">
      </md-input-container><!-- {{ currentUser.$$state.value.avatar }} -->


      <md-button class="md-accent md-hue-3 md-raised prof-submit" id="prof-submit" disabled>Change Profile Info</md-button>

      <span id="edit-toggle" class="edit-profile" ng-click="enableInputs()" flex>Edit Profile</span>

      <span class="delete-profile" ng-click="showDeleteSheet($event)" flex>Delete Profile</span>

      <span class="edit-password" ng-click="showPasswordSheet($event)" flex>Change Password</span>

    </form>

    <!-- <p> add instr text here if needed </p> -->

  </md-content>
</div>
