<div layout="column" layout-align="center center" class="md-whiteframe-z2 profile-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools profile-head profile-headers" id="profile-head">
      <h2> {{ currentUser.$$state.value.username }}'s Profile</h2>
    </div>
  </md-toolbar>

  <md-content class ="prof-content">

    <form ng-submit="updateProfile(user)">

      <!-- USERNAME FIELD -->
      <md-input-container>
        <label>Username (fixed)</label><input placeholder="{{ currentUser.$$state.value.username }}" type = "text" class="prof-input" disabled ng-model="user.username">
      </md-input-container>

      <!-- FIRSTNAME FIELD -->
      <md-input-container>
        <label>First Name</label><input placeholder="{{ currentUser.$$state.value.first_name }}" type = "text" class="prof-input" id="prof-firstname"disabled ng-model="user.first_name">
      </md-input-container>

      <!-- LASTNAME FIELD -->
      <md-input-container>
        <label>Last Name</label><input placeholder="{{ currentUser.$$state.value.last_name }}" type="text" class="prof-input" id="prof-lastname"disabled ng-model="user.last_name">
      </md-input-container>

      <!-- EMAIL FIELD -->
      <md-input-container>
        <label>Email</label><input placeholder="{{ currentUser.$$state.value.email }}" type = "text" class="prof-input" id="prof-email"disabled ng-model="user.email">
      </md-input-container>

      <!-- AVATAR FIELD -->
      <md-input-container>

        <label>User Image</label><input placeholder="{{ 'avatarURL' }}" type = "text" name="userAvatar" class="prof-input" id="prof-avatar"disabled ng-model="user.avatar">

        <div class="avatar-wrap">
          <img class="avatar-img" src="{{ currentUser.$$state.value.avatar }}">
        </div>

      </md-input-container><!-- {{ currentUser.$$state.value.avatar }} -->



        <md-button class="md-accent md-hue-3 md-raised prof-submit prof-buttons" id="prof-submit" disabled>Change Profile Info</md-button>

      <!-- <span id="edit-toggle" class="edit-profile" ng-click="enableInputs()" flex>Edit Profile</span> -->

      <!-- <span class="delete-profile">Delete Profile</span> -->

      <!-- <span class="edit-password"  flex>Change Password</span> -->

    </form>


    <!-- <p> add instr text here if needed </p> -->

  </md-content>

  <!-- TOOLBAR -->
  <div ng-controller="profileFabCtrl" class="prof-fab-wrap prof-buttons">
    <md-fab-toolbar md-open="profEditBar.isOpen" count="profEditBar.count" ng-class="profEditBar.selectedAlignment" style="height:4.4rem;overflow:hidden;margin-bottom:0.5rem;">
      <md-fab-trigger style="right: 45.7%;">
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon md-svg-src="images/icons/0119-user-tie.svg" style="color:white;"></md-icon>
        </md-button>
      </md-fab-trigger class="align-with-text">
      <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
          <md-button aria-label="edit profile info" class="md-icon-button">
            <md-icon md-svg-src="images/icons/0006-pencil.svg" ng-click="enableInputs()" flex></md-icon>
            <md-tooltip style="height:20px;">edit profile info</md-tooltip>
          </md-button>
          <md-button aria-label="delete user" class="md-icon-button">
            <md-icon md-svg-src="images/icons/0277-exit.svg" ng-click="showDeleteSheet($event)" flex></md-icon>
            <md-tooltip style="height:20px;">delete user</md-tooltip>
          </md-button>
          <md-button aria-label="change user password" class="md-icon-button" ng-click="showPasswordSheet($event)">
            <md-icon md-svg-src="images/icons/0143-key2.svg" flex></md-icon>
            <md-tooltip style="height:20px;">change user password</md-tooltip>
          </md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
  </div>

</div>

<div layout="column" layout-align="center center" class="md-whiteframe-z2 user-classrooms-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools profile-head profile-headers">
      <h2>Your Classrooms</h2>
    </div>
  </md-toolbar>

  <md-list class = "user-classroom-list">
    <md-list-item ng-repeat="x in userClassrooms">

      <md-card>
        <img src="{{x.avatar}}" style="width:35%;margin: 0 auto;">

      <md-card-content>

        <h4 class="md-title">Classroom: {{ x.name }} [id: {{ x.id }}]</h4>

        <p>Class info: {{x.description}}</p>
        <p>Your role: {{x.role}}</p>

      </md-card-content>

      <div class="md-actions" layout="row" layout-align="end center">
        <md-button style="font-size:10px;">Join Requests</md-button>
        <md-button style="font-size:10px;">Exercises</md-button>
      </div>

      <md-card>

    </md-list-item>
  </md-list>
</div>

<!-- <div layout="column" layout-align="center center" class="md-whiteframe-z2 requests-wrap" style="margin-bottom: 5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools profile-head profile-headers">
      <h2>Join Requests</h2>
    </div>
  </md-toolbar>

  <md-list>
    <md-list-item>

    </md-list-item>
  </md-list>

</div> -->
