<div layout="column" layout-align="center center" class="md-whiteframe-z2 exercise-builder-list-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools create-class-head" id="exercise-list-head">
      <h2>Build Exercise</h2>
    </div>
  </md-toolbar>
  <form ng-submit="submitQuestion(data)">
    <div class="row">
      <md-select ng-model="data.form" placeholder="Form [person]" style="display:inline-block;">
        <md-option ng-repeat="x in verbForms" value="{{x.form}}">{{x.form}}</md-option>
      </md-select>

      <md-select ng-model="data.combined_tense_english" placeholder="Tense" style="display:inline-block;">
        <md-option ng-repeat="y in verbTenses" value="{{y.combined_tense_english}}">{{y.combined_tense_english}}</md-option>
      </md-select>

        <input ng-model="data.verb" id="hidden_verb_value">

      <div><angucomplete-alt id="verb"
                    placeholder="Add Verb"
                    pause="400"
                    selected-object="verb"
                    remote-url="https://protected-scrubland-4220.herokuapp.com/verbs?search="
                    remote-url-request-formatter="dataFormat"
                    remote-url-request-with-credentials="true"
                    text-searching="Searching verb database..."
                    text-no-results="Not found."
                    remote-url-data-field="verbs"
                    title-field="verb"
                    input-class="verb-autocomp form-control form-control-small"
                    ng-model="data.verb"
                    ng-change="inputChangeHandler(data.verb)"/></div>

      <div class="md-actions" layout="row" layout-align="end center"><md-button class="md-accent md-hue-3 md-raised">Submit</md-button></div>

    </div>
  </form>

</div>

<div layout="column" layout-align="center center" class="md-whiteframe-z2 exercise-question-list-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools create-class-head" id="exercise-list-head">
      <h2> Current Exercise Questions</h2>
    </div>
  </md-toolbar>

</div>

