<div layout="column" layout-align="center center" class="md-whiteframe-z2 game-card-wrap" style="margin-bottom: 2.5rem;">

  <md-toolbar>
    <div class="md-toolbar-tools game-play-head" id="game-play-head">
      <h2>Play</h2>
    </div>
  </md-toolbar>

  <md-content class="game-field">
      <div class="md-actions" id="game-start-field" layout="row" layout-align="center center">
        <md-button class="md-accent md-hue-3 md-raised game-start" style="margin-top: 4rem;">Start Game</md-button>
      </div>
  </md-content>
</div>
