@import 'bourbon/bourbon';
@import 'neat/neat';

body {
  @include outer-container(100%);
  .ng-scope {
    height: 100%;
  }
}

//
//  NAV BAR STYLING
//

.head-nav {
  margin-bottom: 2rem;
  border-bottom: solid 9px brown;
}
.links {
  position: absolute;
  right: 1em;
  top: 1em;
}

//
//
//


//
//  REGISTRATION FORM STYLING
//

.login-wrap {
  @include span-columns(10);
  @include shift(1);

  .login-headers {
    border-bottom: solid 9px brown;
  }
}

.registration-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;

  label {
    text-align: left;
  }
}

.reg-head {
  cursor: pointer;
  outline: none;
}

.reg-input {
  width: 20rem;
}

.regname-input {
  width: 15rem;
}

.reg-submit {
  width: 30%;
}

.reg-card {
  display: none;
}

//
//
//

//
// LOGIN FORM STYLING
//

.login-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;

  label {
    text-align: left;
  }
}

.login-head {
  cursor: pointer;
  outline: none;
}

.login-input {
  width: 20rem;
}

.login-submit {
  width: 84.1%;
}

//
// PROFILE PAGE STYLING
//

.profile-wrap {
  @include span-columns(10);
  @include shift(1);

  .profile-headers {
    border-bottom: solid 9px brown;
  }
}

.prof-content {
  padding: 1.5rem;
  margin: 0 auto;

  .prof-input {
    width: 100%;
    text-align: right;
    margin: 0 auto;
  }

  .prof-submit {
    text-align: center;
    margin-left: 39%;
  }

  .edit-profile {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .edit-profile:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .delete-profile {
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .delete-profile:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .edit-password {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1.2rem;
  }

  .edit-password:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .avatar-wrap {
    margin-left: 46.5%;

    .avatar-img {
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      border: solid 2px grey;
      padding: 1px;
      overflow: hidden;
    }
  }
}

.prof-fab-wrap {
  float: left;
  height: 70px;
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
}

.delete-sheet {
  @include span-columns(8);
  @include shift(2);
}

//
//
//

