@import 'bourbon/bourbon';
@import 'neat/neat';

//COLORS
$offwht: #FDFCE9;
$ltgrey: #B1B1B1;


/////////
body {
  background: url('../images/bright_squares.png');
  background-repeat: repeat;
  height: 1000px;
  @include outer-container(100%);
  .ng-scope {
    height: 100%;
  }
}

//
//  NAV BAR STYLING
//

.head-nav {
  margin-bottom: 2rem;
  border-bottom: solid 9px brown;
  @include span-columns(8);
  @include shift(2);
  position: fixed;
  top: 0;
  z-index:25;
}
.links {
  position: absolute;
  right: 1em;
  top: 1em;
}

//
//
//


//
//  REGISTRATION FORM STYLING
//

.login-wrap {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7rem;

  .login-headers {
    border-bottom: solid 9px brown;
  }
}

.registration-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;

  label {
    text-align: left;
  }
}

.reg-head {
  cursor: pointer;
  outline: none;
}

.reg-input {
  width: 20rem;
}

.regname-input {
  width: 15rem;
}

.reg-submit {
  width: 30%;
}

.reg-card {
  display: none;
}

//
//
//

//
// LOGIN FORM STYLING
//

.login-form {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;

  label {
    text-align: left;
  }
}

.login-head {
  cursor: pointer;
  outline: none;
}

.login-input {
  width: 20rem;
}

.login-submit {
  width: 84.1%;
}

//
// PROFILE PAGE STYLING
//

.profile-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;
  margin-top: 7rem;

}

.profile-headers {
  border-bottom: solid 9px brown;
}

.prof-content {
  padding: 1.5rem;
  margin: 0 auto;

  .prof-input {
    width: 100%;
    text-align: right;
    margin: 0 auto;
  }

  .prof-submit {
    text-align: center;
    margin-left: 39.2%;
  }

  .edit-profile {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .edit-profile:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .delete-profile {
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .delete-profile:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .edit-password {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1.2rem;
  }

  .edit-password:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .avatar-wrap {
    margin-left: 45.5%;

    .avatar-img {
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      border: solid 2px grey;
      padding: 1px;
      overflow: hidden;
    }
  }
}

.user-classrooms-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;

  .user-classroom-list {
    @include span-columns(12);

    md-list-item {
      @include span-columns(4);
      @include omega(3n);
      height: 337px;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

.requests-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;
}

//fab bar styling
md-fab-toolbar.md-fab-toolbar-wrapper {
  height: 4rem;
}

.prof-fab-wrap {
  background-color: white;
}

.delete-sheet {
  @include span-columns(8);
  @include shift(2);
}

//
//
//

//
//  CLASSROOM REG STYLE
//

.create-class-head {
  border-bottom: solid 9px brown;
}

.create-class-form {
  margin: 0 auto;
  margin-top: 2.5rem;
}

.class-input-block {
  p {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1rem;
    color: $ltgrey;
    font-size: smaller;
  }
}

.class-create-submit {
  width: 30%;
  margin-left: 35.5%;
}

//
//
//

//
// CLASSROOM TABLE STYLE
//

.classroom-table-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;
  margin-top: 7rem;

  .classroom-table-head {
    border-bottom: solid 9px brown;
  }

  .class-table-row-wrap {
    text-decoration: none;
    color: inherit;
  }
  .class-table-row {
    height: 75px;
  }

  .class-table-row:hover {
    background-color: lightblue;
  }
}
.switch-options {
  color: inherit;
}
.md-table-headers-row {
  width: 20%;
  display: inline-block;
  overflow-x: hidden;
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 7rem 16px 5rem;
}

.md-table-header a {
  text-decoration: none;
  color: inherit;
}

.md-table-header a:hover {
  text-decoration: underline;
}

.table-cell {
  text-align: center;
  display: inline-block;
  height: 74.240px;

  .table-text {
    display: inline-block;
    height: 100%;
    width: 9rem;
    text-align: center;
  }
}

.table-avatar {
  width: 50px;
  height: 50px;
  margin: 6px 4em 4px 4.64em;
}

//
//
//

//
// Single classroom info style
//

.class-info-list-wrap {
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 7rem;
  margin-bottom: 2.5rem;

  .join-class-button {
    // margin-left: 20%;
  }
}

.exercise-form-wrap {
  @include span-columns(8);
  @include shift(2);

  .exercises-head {
    border-bottom: solid 9px brown;
  }

  form {
    margin-left: 5%;
    margin-bottom: 2rem;
  }
}

.classroom-exercise-list-wrap {
  @include span-columns(8);
  @include shift(2);

  md-list {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;

    md-list-item {
      border-bottom: dotted 1px $ltgrey;

      .exercise-nav {
        text-decoration: none;
        color: $ltgrey;
        font-size: 10px;
        cursor:pointer;
        width: 4em;
        text-align: center;
      }

      .exercise-nav.hover {
        text-decoration: underline;
      }
    }
  }
}
//
//
//

//
//  Send join request page
//


//
//
//

//
// Join Requests info page style
//

.join-requests-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;
  margin-top: 7rem;

  .join-requests-head {
    border-bottom: solid 9px brown;
  }

  .join-request-info {

    b {
      width: 13%;
      display: inline-block;
    }

    .bb {
      border-right: solid 1px $ltgrey;
    }

    .bbb {
      margin-left: 1rem;
    }

    .b-email {
      padding-right: 8rem;
    }
    p {
      width: 13%;
      margin-right: 7%;
      text-align: center;
    }
  }

  .request-res-button {
    font-size: 10px;
  }
}

//
//
//

//
// EXERCISE EDIT PAGE STYLES
//

.exercise-builder-list-wrap {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7rem;
  background-color: white;

  form {
    margin: 5%;
  }

  input {
    border:none;
    outline: none;
    border-bottom: solid 1px $ltgrey;
  }

  input:focus {
    outline: none;
  }

}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    border-radius: 2px;
    border: solid 1px $ltgrey;
}

.exercise-question-list-wrap {
  @include span-columns(8);
  @include shift(2);
  background-color: white;
}

//
//
//

//
// GAME STYLES
//
.game-card-wrap {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7rem;
  background-color: white;

  .game-play-head {
    border-bottom: solid 9px brown;
  }

  .game-field {
    height: 600px;
  }

}
//
//
//
